.table :global(.rdt_TableCol) {
  align-items: center;
}

.table :global(.rdt_TableCol_Sortable) {
  align-items: center;
  overflow: hidden;
}

.table :global(.rdt_TableCol_Sortable) > div {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: clip !important;
  overflow-wrap: normal;
  word-break: keep-all;
}
